<!DOCTYPE html>
<html>
	<head>
		<title>TestBook</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<nav class="navbar">
				<a class="navbar-brand" href="#">TestBook</a>
				<ul class="nav navbar-nav">
					<li class="nav-item active">
						<li class="nav-item">
							<%= link_to "All Statuses", statuses_path %>
							
						</ul>
					</nav>
					<p class="notice"><%= notice %></p>
					<%= yield %>
				</div>
			</body>
		</html>